# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: LaTeX to PDF
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Compile LaTeX to PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: appunti-hci.pdf
          path: main.pdf
          if-no-files-found: error
      - name: Release PDF
        uses: softprops/action-gh-release@v2
        with:
          files: main.pdf
          tag_name: latest
          draft: false
          prerelease: false
          overwrite: true
